package main

// Solve prints out solutions for the puzzle
func Solve(fname string) {

}

// readInput parses the puzzle's input.txt file
func readInput(fname string) {

}

func part1() {

}

func part2() {

}

// I include main() so that go doesn't yell about a main package having no main() function
func main() {
}

